[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
awscli = "*"
"boto3" = "*"
pylint = "*"
autopep8 = "*"

[packages]
scrapy = "*"
pygithub = "*"
python-json-logger = "*"
scrapinghub = "*"

[requires]
python_version = "3.7"
